$grid-gap: 1.5rem;

$base-font-size-in-px: 16;

$breakpoint: (
  one: #{480 / $base-font-size-in-px}rem,
  two: #{768 / $base-font-size-in-px}rem,
  three: #{1000 / $base-font-size-in-px}rem,
  four: #{1272 / $base-font-size-in-px}rem,
);

$grid-columns-by-breakpoint: (
  default: 4,
  one: 6,
  two: 8,
  three: 12,
  four: 12,
);

$colour: (
  divider: #e0e0e0,
);
