@import "variables";
@import "normalise";
@import "fonts";
@import "grid";

.site-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid map-get($colour, divider);
  line-height: 72px;
}

.content-wrapper {

    grid-column: 1 / -1;

    @media screen and (min-width: map_get($breakpoint, two)) {
      grid-column: 2 / -2;
    }

    @media screen and (min-width: map_get($breakpoint, three)) {
      grid-column: 3 / -3;
    }

  .page--dashboard & {

    @media screen and (min-width: map_get($breakpoint, three)) {
      grid-column: 4 / -3;
    }

  }

  .page--side-by-side & {

    @media screen and (min-width: map_get($breakpoint, three)) {
      grid-column: 1 / 8;
    }

  }

}

.page--side-by-side {

  & .content-wrapper {
    @media screen and (min-width: map_get($breakpoint, three)) {
      display: grid;
      grid-gap: $grid-gap;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  & .content {
    grid-column: 3 / -3;
  }

  & .review-wrapper {
    display: none;

    @media screen and (min-width: map_get($breakpoint, three)) {
      grid-column: 8 / -1;
      grid-row: 1 / -1;
      border-left: 1px solid map_get($colour, divider);

      display: grid;
      align-items: start;
      align-content: start;
      grid-gap: $grid-gap;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  & .review {
    grid-column: 3 / -3;
  }

}

.page--dashboard {

  & .menu {

    display: none;

    @media screen and (min-width: map_get($breakpoint, three)) {
      padding-top: 8px;
      display: block;
      grid-column: 1 / 4;
      justify-self: center;
    }

  }

  & .menu-affordance {

    padding-top: 8px;
    justify-self: end;

    @media screen and (min-width: map_get($breakpoint, three)) {
      display: none;
    }

  }
}
