html {
  font-size: 16px;
  font-family: "Noto Serif", serif; }
  html, html body {
    margin: 0;
    padding: 0; }

h1,
h2,
h3 {
  font-family: "Noto Sans", sans-serif;
  margin-top: 0; }

h1 {
  font-size: 2.25rem;
  line-height: 48px; }

h2 {
  font-size: 1.625rem;
  line-height: 30px; }

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0; }

@font-face {
  font-display: fallback;
  font-family: "Noto Sans";
  src: url("../../common/fonts/NotoSans-Regular-webfont-custom-2-subsetting.woff2") format("woff2"); }
@font-face {
  font-display: fallback;
  font-family: "Noto Sans";
  src: url("../../common/fonts/NotoSans-SemiBold-webfont-custom-2-subsetting.woff2") format("woff2");
  font-weight: 600; }
@font-face {
  font-display: fallback;
  font-family: "Noto Serif";
  src: url("../../common/fonts/NotoSerif-Regular-webfont-custom-2-subsetting.woff2") format("woff2"); }
@font-face {
  font-display: fallback;
  font-family: "Noto Serif";
  src: url("../../common/fonts/NotoSerif-Bold-webfont-basic-latin-subsetting.woff2") format("woff2");
  font-weight: bold; }
/*
  The number of grid columns changes depending on the viewport width:
    - below 480px -> 4 cols
    - min-width: 480px -> 6 cols
    - min-width: 768px -> 8 cols
    - min-width: 1000px -> 12 cols
 */
.grid {
  box-sizing: border-box;
  display: grid;
  margin: 1.5rem auto 0;
  padding: 0 1.5rem;
  max-width: 79.5rem;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  /*
    NOTE: This gives the impression of the element breaking out of the grid by creating a 0-width column at the end of
    the grid and making the element span it, which forces the element to span the gutter between the last proper
    grid track and the 0-width one. Finally, we remove the padding from the inline end of the grid because as we now
    have the spanned gutter instead. This only works because the width of the gutter is the same as the width of the
    padding from the inline end of the grid.
  */ }
  @media screen and (min-width: 30rem) {
    .grid {
      grid-template-columns: repeat(6, 1fr); } }
  @media screen and (min-width: 48rem) {
    .grid {
      grid-template-columns: repeat(8, 1fr); } }
  @media screen and (min-width: 62.5rem) {
    .grid {
      grid-template-columns: repeat(12, 1fr); } }
  @media screen and (min-width: 62.5rem) {
    .page--side-by-side .grid {
      max-width: unset;
      grid-template-columns: repeat(12, 1fr) 0;
      padding-right: 0; } }

.site-header-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  line-height: 72px; }

.content-wrapper {
  grid-column: 1 / -1; }
  @media screen and (min-width: 48rem) {
    .content-wrapper {
      grid-column: 2 / -2; } }
  @media screen and (min-width: 62.5rem) {
    .content-wrapper {
      grid-column: 3 / -3; } }
  @media screen and (min-width: 62.5rem) {
    .page--dashboard .content-wrapper {
      grid-column: 4 / -3; } }
  @media screen and (min-width: 62.5rem) {
    .page--side-by-side .content-wrapper {
      grid-column: 1 / 8;
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(12, 1fr); } }
  .page--side-by-side .content-wrapper .content {
    grid-column: 3 / -3; }

.page--side-by-side .review-wrapper {
  display: none; }
  @media screen and (min-width: 62.5rem) {
    .page--side-by-side .review-wrapper {
      grid-column: 8 / -1;
      grid-row: 1 / -1;
      border-left: 1px solid #e0e0e0;
      display: grid;
      align-items: start;
      align-content: start;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(12, 1fr); } }
.review-wrapper .review {
  grid-column: 3 / -3; }

.page--dashboard .menu {
  display: none; }
  @media screen and (min-width: 62.5rem) {
    .page--dashboard .menu {
      padding-top: 8px;
      display: block;
      grid-column: 1 / 4;
      justify-self: center; } }
.page--dashboard .menu-affordance {
  padding-top: 8px;
  justify-self: end; }
  @media screen and (min-width: 62.5rem) {
    .page--dashboard .menu-affordance {
      display: none; } }

/*# sourceMappingURL=styles.css.map */
