@import "../../common/variables";

$breakpoint: (
    x-small: #{320 / $base-font-size-in-px}rem,
    small: #{480 / $base-font-size-in-px}rem,
    medium: #{730 / $base-font-size-in-px}rem,
    wide: #{900 / $base-font-size-in-px}rem,
    x-wide: #{1200 / $base-font-size-in-px}rem,
);

$grid: (
    column-count: 12,
    edge-space-medium: 7vw,
    edge-space-large: 14vw,
    column-gap: 1.6%,
);

$max-width: 1114px;
