@import "variables";
@import "../../common/normalise";
@import "../../common/fonts";
@import "grid";

@mixin keyline($side) {
  border-#{$side}: 1px solid map_get($colour, divider);
}

.grid > * {
  grid-column: 2 / -2;
}

.site-header-wrapper,
.end-matter {
  grid-column: 1 / -1;
  grid-column-gap: map_get($grid, gap);
}

.site-header-wrapper {
  @include grid-setup();
  @include keyline(bottom);
}

.site-header {
  grid-column: 2 / -2;
}

.investor-logos,
.email-form {
  @include keyline(top);
  text-align: center;
}

.investor-logos {
  @include keyline(bottom);
}
