@import "variables";
/*
  The number of grid columns changes depending on the viewport width:
    - below 480px -> 4 cols
    - min-width: 480px -> 6 cols
    - min-width: 768px -> 8 cols
    - min-width: 1000px -> 12 cols
 */

.grid {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 $grid-gap;
  max-width: map_get($breakpoint, four);
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: repeat(map_get($grid-columns-by-breakpoint, default), 1fr);

  @media screen and (min-width: map_get($breakpoint, one)) {
    grid-template-columns: repeat(map_get($grid-columns-by-breakpoint, one), 1fr);
  }

  @media screen and (min-width: map_get($breakpoint, two)) {
    grid-template-columns: repeat(map_get($grid-columns-by-breakpoint, two), 1fr);
  }

  @media screen and (min-width: map_get($breakpoint, three)) {
    grid-template-columns: repeat(map_get($grid-columns-by-breakpoint, three), 1fr);
  }

  .page--side-by-side & {
    @media screen and (min-width: map_get($breakpoint, three)) {
      max-width: calc(#{map_get($breakpoint, four)} + 24px);
      padding-right: 0;
      grid-template-columns: repeat(map_get($grid-columns-by-breakpoint, three), 1fr) 0;
    }
  }

}



