@font-face {
  font-display: fallback;
  font-family: "Noto Sans";
  src: url("../../common/fonts/NotoSans-Regular-webfont-custom-2-subsetting.woff2") format("woff2");
}

@font-face {
  font-display: fallback;
  font-family: "Noto Sans";
  src: url("../../common/fonts/NotoSans-SemiBold-webfont-custom-2-subsetting.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-display: fallback;
  font-family: "Noto Serif";
  src: url("../../common/fonts/NotoSerif-Regular-webfont-custom-2-subsetting.woff2") format("woff2");
}

@font-face {
  font-display: fallback;
  font-family: "Noto Serif";
  src: url("../../common/fonts/NotoSerif-Bold-webfont-basic-latin-subsetting.woff2") format("woff2");
  font-weight: bold;
}
